@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf) format('truetype');
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
@media (min-width: 500px) and (max-width: 960px) {
  nav {
    width: 100%;
    height: 60px;
  }
  .navigation {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation .nav-select {
    font-weight: 600;
    opacity: 1;
  }
  .navigation .logo {
    color: #380a0a;
    font-weight: bold;
    font-size: 18px;
  }
  .navigation ul {
    display: flex;
    align-items: center;
  }
  .navigation li {
    list-style: none;
    font-size: 14px;
    margin: 0 8px;
  }
  .navigation li:nth-child(3) {
    padding: 4px 10px;
    background: #86242d;
    border-radius: 5px;
  }
  .navigation li a {
    color: #380a0a;
    opacity: 0.6;
  }
  .navigation li .btn-link {
    color: white;
    opacity: 1;
  }
  .navigation li i {
    font-size: 18px;
    opacity: 1;
  }
  .slider {
    position: relative;
    width: 100%;
    background: #b0d5d8;
  }
  .slider .myslider {
    height: 655px;
    display: none;
    overflow: hidden;
  }
  .slider .slider_details {
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 100;
    transform: scale(0.9);
  }
  .slider .slider_title,
  .slider .slider_dispo {
    color: #000;
    font-size: 18px;
  }
  .slider .slider_nom {
    color: #000;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
  }
  .slider .slider_btn {
    position: relative;
    top: 80px;
    color: #000;
    font-weight: bold;
    padding: 12px 60px;
    background: white;
    border-radius: 20px;
  }
  .slider .slider_img {
    position: absolute;
    left: 42%;
    bottom: 0;
    height: 62%;
  }
  .slider .slider_logo {
    position: absolute;
    top: 5%;
    right: 6%;
  }
  .slider .slider_logo img {
    width: 100px;
    height: 100px;
  }
  .slider .navigation_slider {
    position: absolute;
    left: 2%;
    bottom: 12%;
    display: flex;
    align-items: center;
    transform: scale(0.8);
  }
  .slider .prev,
  .slider .next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #404040;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }
  .slider .prev {
    margin-right: 12px;
    opacity: 0.5;
    pointer-events: none;
  }
  .slider .prev.active {
    opacity: 1;
    pointer-events: all;
  }
  .slider .next {
    margin-left: 12px;
    opacity: 0.5;
    pointer-events: none;
  }
  .slider .next.active {
    opacity: 1;
    pointer-events: all;
  }
  .slider .dotsbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .slider .dotsbox .dot {
    width: 24px;
    height: 4px;
    background: white;
    opacity: 0.6;
    border-radius: 4px;
    margin: 0 3px;
    cursor: pointer;
  }
  .slider .dotsbox .active,
  .slider .dotsbox .dot:hover {
    background-color: #404040;
    opacity: 1;
  }
}
@media (min-width: 960px) {
  nav {
    width: 100%;
    height: 60px;
  }
  .navigation {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation .nav-select {
    font-weight: 600;
    opacity: 1;
  }
  .navigation .logo {
    color: #404040;
    font-weight: bold;
    font-size: 21px;
  }
  .navigation ul {
    display: flex;
    align-items: center;
  }
  .navigation li {
    list-style: none;
    font-size: 18px;
    margin: 0 12px;
  }
  .navigation li:nth-child(3) {
    padding: 4px 10px;
    background: #86242d;
    border-radius: 5px;
  }
  .navigation li a {
    color: #404040;
    opacity: 0.6;
  }
  .navigation li .btn-link {
    color: white;
    opacity: 1;
  }
  .navigation li i {
    font-size: 21px;
    opacity: 1;
  }
  .slider {
    position: relative;
    width: 100%;
    background: #b0d5d8;
  }
  .slider .myslider {
    height: 655px;
    display: none;
    overflow: hidden;
  }
  .slider .slider_details {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    z-index: 100;
    transform: scale(0.8);
  }
  .slider .slider_title,
  .slider .slider_dispo {
    color: #000;
    font-size: 18px;
  }
  .slider .slider_nom {
    color: #000;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
  }
  .slider .slider_btn {
    position: relative;
    top: 80px;
    color: #000;
    font-weight: bold;
    padding: 12px 60px;
    background: white;
    border-radius: 20px;
  }
  .slider .slider_img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 73%;
  }
  .slider .slider_logo {
    position: absolute;
    top: 10%;
    right: 6%;
  }
  .slider .slider_logo img {
    width: 120px;
    height: 120px;
  }
  .slider .navigation_slider {
    position: absolute;
    right: 2%;
    bottom: 12%;
    display: flex;
    align-items: center;
    transform: scale(0.8);
  }
  .slider .prev,
  .slider .next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #404040;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }
  .slider .prev {
    margin-right: 12px;
    opacity: 0.5;
    pointer-events: none;
  }
  .slider .prev.active {
    opacity: 1;
    pointer-events: all;
  }
  .slider .next {
    margin-left: 12px;
    opacity: 0.5;
    pointer-events: none;
  }
  .slider .next.active {
    opacity: 1;
    pointer-events: all;
  }
  .slider .dotsbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .slider .dotsbox .dot {
    width: 24px;
    height: 4px;
    background: white;
    opacity: 0.6;
    border-radius: 4px;
    margin: 0 3px;
    cursor: pointer;
  }
  .slider .dotsbox .active,
  .slider .dotsbox .dot:hover {
    background-color: #404040;
    opacity: 1;
  }
}
@media (min-width: 1280px) {
  nav {
    width: 100%;
    height: 80px;
  }
  .navigation {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation .nav-select {
    font-weight: 600;
    opacity: 1;
  }
  .navigation .logo {
    color: #380a0a;
    font-weight: bold;
    font-size: 24px;
  }
  .navigation ul {
    display: flex;
    align-items: center;
  }
  .navigation li {
    list-style: none;
    font-size: 20px;
    margin: 0 14px;
  }
  .navigation li:nth-child(3) {
    padding: 4px 12px;
    background: #86242d;
    border-radius: 5px;
  }
  .navigation li a {
    color: #380a0a;
    opacity: 0.6;
  }
  .navigation li .btn-link {
    color: white;
    opacity: 1;
  }
  .navigation li i {
    font-size: 24px;
    opacity: 1;
  }
  .slider {
    position: relative;
    width: 100%;
    background: #b0d5d8;
  }
  .slider .myslider {
    height: 655px;
    display: none;
    overflow: hidden;
  }
  .slider .slider_details {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .slider .slider_title,
  .slider .slider_dispo {
    color: #000;
    font-size: 18px;
  }
  .slider .slider_nom {
    color: #000;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
  }
  .slider .slider_btn {
    position: relative;
    top: 80px;
    color: #000;
    font-weight: bold;
    padding: 12px 60px;
    background: white;
    border-radius: 20px;
  }
  .slider .slider_img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 90%;
  }
  .slider .slider_logo {
    position: absolute;
    top: 10%;
    right: 6%;
  }
  .slider .slider_logo img {
    width: 130px;
    height: 130px;
  }
  .slider .navigation_slider {
    position: absolute;
    right: 10%;
    bottom: 16%;
    display: flex;
    align-items: center;
  }
  .slider .prev,
  .slider .next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #404040;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }
  .slider .prev {
    margin-right: 12px;
    opacity: 0.5;
    pointer-events: none;
  }
  .slider .prev.active {
    opacity: 1;
    pointer-events: all;
  }
  .slider .next {
    margin-left: 12px;
    opacity: 0.5;
    pointer-events: none;
  }
  .slider .next.active {
    opacity: 1;
    pointer-events: all;
  }
  .slider .dotsbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .slider .dotsbox .dot {
    width: 24px;
    height: 4px;
    background: white;
    opacity: 0.6;
    border-radius: 4px;
    margin: 0 3px;
    cursor: pointer;
  }
  .slider .dotsbox .active,
  .slider .dotsbox .dot:hover {
    background-color: #404040;
    opacity: 1;
  }
}
