@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap");

// Variables couleurs
@white: white;
@black: #000;
@lightblack: #404040;
@red: #86242d;
@darkred: #380a0a;
@carousel-color: #b0d5d8;

// Variables polices
@fontsm: 14px;
@fontm: 18px;
@fontx: 21px;
@fontxl: 24px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

@media (min-width: 500px) and (max-width: 960px) {
  nav {
    width: 100%;
    height: 60px;
    // background: red;
  }

  .navigation {
    width: 90%;
    height: 100%;
    // background: blue;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-select {
      font-weight: 600;
      opacity: 1;
    }

    .logo {
      color: @darkred;
      font-weight: bold;
      font-size: @fontm;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;
      font-size: @fontsm;
      margin: 0 8px;

      &:nth-child(3) {
        padding: 4px 10px;
        background: @red;
        border-radius: 5px;
      }

      a {
        color: @darkred;
        opacity: 0.6;
      }

      .btn-link {
        color: @white;
        opacity: 1;
      }

      i {
        font-size: @fontm;
        opacity: 1;
      }
    }
  }

  .slider {
    position: relative;
    width: 100%;
    background: @carousel-color;

    .myslider {
      height: 655px;
      display: none;
      overflow: hidden;
    }

    .slider_details {
      position: absolute;
      top: 40%;
      left: 5%;
      z-index: 100;
      transform: scale(0.9);
    }

    .slider_title,
    .slider_dispo {
      color: @black;
      font-size: 18px;
    }

    .slider_nom {
      color: @black;
      font-size: 40px;
      font-weight: bold;
      margin: 10px 0;
    }

    .slider_btn {
      position: relative;
      top: 80px;
      color: @black;
      font-weight: bold;
      padding: 12px 60px;
      background: @white;
      border-radius: 20px;
    }

    .slider_img {
      position: absolute;
      left: 42%;
      bottom: 0;
      height: 62%;
    }

    .slider_logo {
      position: absolute;
      top: 5%;
      right: 6%;

      img {
        width: 100px;
        height: 100px;
      }
    }

    .navigation_slider {
      position: absolute;
      left: 2%;
      bottom: 12%;
      display: flex;
      align-items: center;
      transform: scale(0.8);
    }

    .prev,
    .next {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: @lightblack;
      width: 40px;
      height: 40px;
      background-color: @white;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
    }

    .prev {
      margin-right: 12px;
      opacity: 0.5;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    .next {
      margin-left: 12px;
      opacity: 0.5;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    .dotsbox {
      display: flex;
      align-items: center;
      cursor: pointer;

      .dot {
        width: 24px;
        height: 4px;
        background: @white;
        opacity: 0.6;
        border-radius: 4px;
        margin: 0 3px;
        cursor: pointer;
      }

      .active,
      .dot:hover {
        background-color: @lightblack;
        opacity: 1;
      }
    }
  }
}

@media (min-width: 960px) {
  nav {
    width: 100%;
    height: 60px;
    // background: red;
  }

  .navigation {
    width: 90%;
    height: 100%;
    // background: blue;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-select {
      font-weight: 600;
      opacity: 1;
    }

    .logo {
      color: @lightblack;
      font-weight: bold;
      font-size: @fontx;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;
      font-size: @fontm;
      margin: 0 12px;

      &:nth-child(3) {
        padding: 4px 10px;
        background: @red;
        border-radius: 5px;
      }

      a {
        color: @lightblack;
        opacity: 0.6;
      }

      .btn-link {
        color: @white;
        opacity: 1;
      }

      i {
        font-size: @fontx;
        opacity: 1;
      }
    }
  }

  .slider {
    position: relative;
    width: 100%;
    background: @carousel-color;

    .myslider {
      height: 655px;
      display: none;
      overflow: hidden;
    }

    .slider_details {
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translateY(-50%);
      z-index: 100;
      transform: scale(0.8);
    }

    .slider_title,
    .slider_dispo {
      color: @black;
      font-size: 18px;
    }

    .slider_nom {
      color: @black;
      font-size: 40px;
      font-weight: bold;
      margin: 10px 0;
    }

    .slider_btn {
      position: relative;
      top: 80px;
      color: @black;
      font-weight: bold;
      padding: 12px 60px;
      background: @white;
      border-radius: 20px;
    }

    .slider_img {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 73%;
    }

    .slider_logo {
      position: absolute;
      top: 10%;
      right: 6%;

      img {
        width: 120px;
        height: 120px;
      }
    }

    .navigation_slider {
      position: absolute;
      right: 2%;
      bottom: 12%;
      display: flex;
      align-items: center;
      transform: scale(0.8);
    }

    .prev,
    .next {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: @lightblack;
      width: 40px;
      height: 40px;
      background-color: @white;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
    }

    .prev {
      margin-right: 12px;
      opacity: 0.5;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    .next {
      margin-left: 12px;
      opacity: 0.5;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    .dotsbox {
      display: flex;
      align-items: center;
      cursor: pointer;

      .dot {
        width: 24px;
        height: 4px;
        background: @white;
        opacity: 0.6;
        border-radius: 4px;
        margin: 0 3px;
        cursor: pointer;
      }

      .active,
      .dot:hover {
        background-color: @lightblack;
        opacity: 1;
      }
    }
  }
}

@media (min-width: 1280px) {
  nav {
    width: 100%;
    height: 80px;
    // background: red;
  }

  .navigation {
    width: 90%;
    height: 100%;
    // background: blue;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-select {
      font-weight: 600;
      opacity: 1;
    }

    .logo {
      color: @darkred;
      font-weight: bold;
      font-size: @fontxl;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;
      font-size: @fontx - 1px;
      margin: 0 14px;

      &:nth-child(3) {
        padding: 4px 12px;
        background: @red;
        border-radius: 5px;
      }

      a {
        color: @darkred;
        opacity: 0.6;
      }

      .btn-link {
        color: @white;
        opacity: 1;
      }

      i {
        font-size: @fontxl;
        opacity: 1;
      }
    }
  }

  .slider {
    position: relative;
    width: 100%;
    background: @carousel-color;

    .myslider {
      height: 655px;
      display: none;
      overflow: hidden;
    }

    .slider_details {
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translateY(-50%);
      z-index: 100;
    }

    .slider_title,
    .slider_dispo {
      color: @black;
      font-size: 18px;
    }

    .slider_nom {
      color: @black;
      font-size: 40px;
      font-weight: bold;
      margin: 10px 0;
    }

    .slider_btn {
      position: relative;
      top: 80px;
      color: @black;
      font-weight: bold;
      padding: 12px 60px;
      background: @white;
      border-radius: 20px;
    }

    .slider_img {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 90%;
    }

    .slider_logo {
      position: absolute;
      top: 10%;
      right: 6%;

      img {
        width: 130px;
        height: 130px;
      }
    }

    .navigation_slider {
      position: absolute;
      right: 10%;
      bottom: 16%;
      display: flex;
      align-items: center;
    }

    .prev,
    .next {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: @lightblack;
      width: 40px;
      height: 40px;
      background-color: @white;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
    }

    .prev {
      margin-right: 12px;
      opacity: 0.5;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    .next {
      margin-left: 12px;
      opacity: 0.5;
      pointer-events: none;

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    .dotsbox {
      display: flex;
      align-items: center;
      cursor: pointer;

      .dot {
        width: 24px;
        height: 4px;
        background: @white;
        opacity: 0.6;
        border-radius: 4px;
        margin: 0 3px;
        cursor: pointer;
      }

      .active,
      .dot:hover {
        background-color: @lightblack;
        opacity: 1;
      }
    }
  }
}
